<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Process Remove</title>
</head>

<body>
    <h1>Removal of All Users</h1>
    All Users have been removed from the database. Number of users removed: <%- count %>
    <br>
    <p></p>
    <a href="/">HOME</a>
</body>

<style>
	.input{
		width:200px;
	}
	#wishlistInput{
		width:500px;
		height:200px;
	}
	body{
        background-color: rgb(104, 3, 3);
        color: gold;
    }
	a {
        color: white;
    }
</style>
</html>