<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>User Data</title>
</head>

<body>
    <h1>User Data</h1>
	<div>
        <strong>Name:</strong> <%- name %><br>
        <strong>Email Address:</strong> <%- email %><br>
        <strong>Wishes:</strong> <%- wishes %><br>
    </div>
    <hr>
    <a href="/">HOME</a>
</body>
<style>
	.input{
		width:200px;
	}
	#wishlistInput{
		width:500px;
		height:200px;
	}
	body{
        background-color: rgb(104, 3, 3);
        color: gold;
    }
	a {
        color: white;
    }
</style>
</html>
