<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Remove</title>
</head>

<body>
    <h1>Removing All Users</h1>
    <form id="removal" action="http://localhost:5000/processRemove" method="post">
        <button>Remove all users</button>
	</form>
    <hr>
    <a href="/">HOME</a>
</body>
</html>