<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Remove</title>
</head>

<body>
    <h1>Removing All Users</h1>
    <form id="removal" action="https://cmsc335final-okqt.onrender.com/processRemove" method="post">
        <button>Remove all users</button>
	</form>
    <hr>
    <a href="/">HOME</a>
</body>
<style>
	body{
        background-color: rgb(104, 3, 3);
        color: gold;
    }
    a {
        color: white;
    }
</style>
</html>
